$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Noto Sans JP", sans-serif;
$font-third: "Josefin Sans", sans-serif;

// colors
$color-primary: #d67f8c;
$color-white: #ffffff;
$color-light-gray: #f8f7ee;
$color-overlay: #e6b7ba;
$color-primary-text: #acacac;
$color-secondary-text: #333333;
$color-light-green: #d9e7d9;
$color-dark-green: #50a9a6;
$color-nav-light-green: #e7f7e7;
$color-arrow-green: #71b98f;
$color-gray-one: #333333;

$color-black: #000;

$color-gray: #fbf9fa;
$color-gray-dark: #eeeeee;
$color-gray-dark--2: #999999;
$color-gray-dark--3: #e2e2e2;
//new
$color-dark: #8c8985;
$color-green: #3d603c;
