.content {
    margin: 25px 0 60px 0;

    @include mq("tablet") {
        margin: 80px 0;
    }

    @include mq("bootstrap=lg") {
        margin: 90px 0;
    }

    &__images {
        display: flex;
        cursor: pointer;

        &:hover {
            .back {
                transform: scale(1.1);
            }
        }
    }

    &__img {
        position: relative;
        overflow: hidden;

        .back {
            transition: 0.25s ease-in-out;
            display: block;
        }
    }

    .tech-head {
        width: 65%;
        transform: none;
        transition: none;

        @include mq("phablet") {
            width: 100%;
        }

        &:hover {
            transform: none !important;
        }
    }

    &__text {
        position: absolute;
        top: 15px;
        left: 10px;

        @include mq("phablet") {
            top: 20px;
            left: 25px;
        }

        @include mq("tablet") {
            top: 20px;
            left: 25px;
        }

        @include mq("bootstrap-lg") {
            top: 45px;
            left: 25px;
        }
        .title {
            font-family: $font-third;
            color: #fffaf1;
            font-size: 3rem;
            text-shadow: 2px 1px #c0c0c0;
            font-weight: 500;

            @include mq("phablet") {
                font-size: 6rem;
            }

            @include mq("tablet") {
                letter-spacing: 0.05em;

                font-size: 8rem;
            }

            &.-font {
                font-size: 3rem;
                text-align: center;
                color: #b7b7b7;
                text-shadow: none;

                @include mq("tablet") {
                    font-size: 4rem;
                }
            }

            &.-font-two {
                font-size: 3rem;
                text-align: center;
                color: #b7b7b7;
                text-shadow: none;

                @include mq("tablet") {
                    font-size: 6rem;
                }
            }
        }

        &.-pos {
            top: 5px;
            left: 50px;

            @include mq("phablet") {
                left: 200px;
            }

            @include mq("tablet") {
                top: 25px;
                left: 75px;
            }

            @include mq("bootstrap-lg") {
                left: 120px;
            }
        }

        &.-pos-two {
            top: 35px;

            @include mq("phablet") {
                top: 60px;
            }

            @include mq("tablet") {
                top: 55px;
                left: 25px;
            }

            @include mq("bootstrap-lg") {
                top: 100px;
            }
        }

        .description {
            color: #373737;
            max-width: 350px;
            width: 100%;
            line-height: 1.2;
            font-size: 12px;
            text-shadow: -1px 1px 1px rgb(255, 255, 255),
                1px -1px 1px rgb(255, 255, 255), 0px 1px 1px rgb(255, 255, 255),
                -1px -1px 1px rgb(255, 255, 255);

            @include mq("phablet") {
                line-height: 1.5;
                font-size: 13px;
                text-shadow: 1px 1px #fff;
            }

            @include mq("tablet") {
                text-shadow: none;
                font-size: 14px;
            }

            @include mq("bootstrap-lg") {
                font-size: 18px;
                line-height: 1.7;
            }
        }
    }

    &__wrapper {
        flex-direction: column;

        @include mq("tablet") {
            flex-direction: row;
        }
    }
}

.fos {
    font-size: 3.5rem;
    @include mq("tablet") {
        font-size: 5rem;
    }
}
