.customer {
    padding: 90px 0;

    &__wrapper {
        padding: 60px 0 90px;
        background-image: url("../img/customer/customer-fl.png"),
            url("../img/customer/customer-fr.png");
        background-position: bottom left, bottom right;
        background-repeat: no-repeat;
    }

    &__feedback {
        max-width: 700px;
        padding: 40px 20px;
        background-color: $color-light-gray;
        letter-spacing: 0.05em;
        line-height: 1.5;
        margin: 0 25px;
        opacity: 0.7;

        @include mq("tablet") {
            margin: 0;
            opacity: 1;
        }
    }

    &__feedback:last-child {
        margin-top: 20px;
    }

    .bb-one {
        border-bottom: 1px solid #cccccc;
    }
}
